[Unit]
Description=Bridging MIDI devices to JACK
After=jackd.service
Requires=jackd.service
PartOf=jackd.service

[Service]
User=pi
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
Environment=USER=pi
Environment=HOME=/home/pi/
ExecStart=/usr/bin/a2jmidid -e
ExecStartPost=/bin/sleep 15
Restart=always

[Install]
WantedBy=jackd.service

